<div class="container registerContainer">
  <form [formGroup]="form" (submit)="submit()">
    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Email Address</mat-label>
      <input formControlName="email" type="email" matInput placeholder="." />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        type="password"
        matInput
        placeholder="."
      />
    </mat-form-field>
    <div class="btnEnd">
      <button type="submit" class="btn btn-outline-primary submitBtn">
        Login
      </button>
    </div>
  </form>
</div>
